In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
def desc(data):
    d = data.describe()
    var = d.loc['std'] ** 2
    iqr = d.loc['75%'] - d.loc['25%']
    upper = d.loc['75%'] + 1.5 * iqr
    lower = d.loc['25%'] - 1.5 * iqr
    index = list(d.index)
    index.insert(2, 'var')
    index.extend(['iqr', 'upper', 'lower', 'outlier'])
    r = d.reindex(index)
    r.loc['var'] = var
    r.loc['iqr'] = iqr
    r.loc['upper'] = upper
    r.loc['lower'] = lower
    r.loc['outlier'] = (data > r.loc['upper']).sum() + (data < r.loc['lower']).sum()
    return r

In [4]:
df = DataFrame(np.random.randn(10000,4), columns=list('ABCD'))
d = df.describe()
d

                  A             B             C             D
count  10000.000000  10000.000000  10000.000000  10000.000000
mean      -0.016771      0.005466     -0.013463     -0.006886
std        0.989480      0.992725      0.995766      0.998081
min       -3.693581     -3.854872     -3.625844     -3.983522
25%       -0.687374     -0.654952     -0.686207     -0.656906
50%       -0.011495      0.003015     -0.009416      0.007462
75%        0.657705      0.658911      0.656834      0.659247
max        3.413169      3.866579      3.931625      3.663877

In [5]:
desc(df)

                    A             B             C             D
count    10000.000000  10000.000000  10000.000000  10000.000000
mean        -0.016771      0.005466     -0.013463     -0.006886
var          0.979070      0.985503      0.991549      0.996165
std          0.989480      0.992725      0.995766      0.998081
min         -3.693581     -3.854872     -3.625844     -3.983522
25%         -0.687374     -0.654952     -0.686207     -0.656906
50%         -0.011495      0.003015     -0.009416      0.007462
75%          0.657705      0.658911      0.656834      0.659247
max          3.413169      3.866579      3.931625      3.663877
iqr          1.345079      1.313862      1.343042      1.316153
upper        2.675323      2.629704      2.671397      2.633476
lower       -2.704992     -2.625745     -2.700770     -2.631135
outlier     81.000000     88.000000     77.000000     98.000000